
<!-- Inserted RTD Footer -->
<div class="injected">

  <div class="rst-versions" data-toggle="rst-versions" role="note" aria-label="versions">
    <span class="rst-current-version" data-toggle="rst-current-version">
      <span class="fa fa-book"> Détails</span>
    </span>
    <div class="rst-other-versions">
      <dl>
         <a href="../developer/index.html" >
           <p>Documentation développeur<p>
         </a>
         <a   href="../user/index.html" >
           <p>Manuel utilisateur<p>
         </a>
         <a href="../theoric/index.html" >
           <p>Manuel théorique<p>
         </a>
      </dl>
      <hr/>
      Les documents en libre accès viennent de <a href="http://www.readthedocs.org">Ici</a>.

    </div>
  </div>

</div>
